h3.name {
  font-size: 28px;
  line-height: 32px;
  margin: 0.5rem 0 1rem;
}

.venue {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.eventFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.location {
  margin: 0.2rem 0 1rem;
}